
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}

<div class="jumbotron" style="background-color: #edb886">
    <h1 style="color:black">Nombre empresa</h1>
    <p class="lead">Descripcion empresa</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Deudores</h2>
        <p>
            En Construccion
        </p>
    </div>
    <div class="col-md-4">
        <h2>Complicaciones</h2>
        <p>En Construccion</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calendario</h2>
        <p>Calendario para agregar fechas</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver &raquo;</a></p>
    </div>
</div>
