@model AplicacionWebGym.Models.Pagos
@{
    ViewBag.Title = "Index";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}
@using (Html.BeginForm())
{
    <p>
        <div class="row">
            <div class="col-md-12">
                @Html.DropDownList("odatosCLS.IdDatos", items, "selecciona algo", new { @class = "form-control" })

                <input type="submit" value="Buscar" />

            </div>
        </div>
    </p>
}



<h2>Index</h2>

